Repository LightHostingFree/free-domain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andrewstech, @open-domains/owners, @open-domains/maintainers

created free-domain
  domains/reserved/_dmarc.lighthosting.eu.org.json
  domains/reserved/acme.lighthosting.eu.org.json
  domains/reserved/cpanel.lighthosting.eu.org.json
  domains/reserved/dash.lighthosting.eu.org.json
  domains/reserved/em699254.lighthosting.eu.org.json
  domains/reserved/forum.lighthosting.eu.org.json
  domains/reserved/lighthosting.eu.org.json
  domains/reserved/link.lighthosting.eu.org.json
  domains/reserved/s699254._domainkey.lighthosting.eu.org.json
  domains/reserved/ssl.lighthosting.eu.org.json
  free-domain.zip
Owners: @open-domains/owners, @andrewstech

created free-domain
  domains/Put_Your_Domain_Files_Here
  free-domain.zip
Owners: @open-domains/maintainers, @andrewstech

Update cla.yml
  .github/workflows/cla.yml
Owners: @andrewstech

Update cla.yml
  .github/workflows/cla.yml
Owners: @andrewstech

Create test.lighthosting.eu.org.json
  domains/test.lighthosting.eu.org.json
Owners: @open-domains/maintainers

.
  domains/Put_Your_Domain_Files_Here
Owners: @open-domains/maintainers

Add files via upload
  .github/workflows/dnsconfig.js
Owners: @andrewstech

.github/CODEOWNERS:

# All Files
* @andrewstech

# Reserved Domains
domains/reserved/* @open-domains/owners

# User Domains
domains/* @open-domains/maintainers

# MD Files
*.md @open-domains/maintainers
terms.md @open-domains/owners
